.*/
build/
dist/
log/
*.egg-info

*.toml
*.exe
*.csv
*.xlsx
*.md
*.cmd
*.jpg
*.txt

/*.py

!.github
!.github/**
!docs/**
!setup.py

!README.md
!ReadMe.md
!pyproject.toml

*.code-workspace
*.pyc
__pycache__
