*

!.gitattributes
!.gitignore
!LICENSE
!mkdocs.yml
!pyproject.toml
!README.md

!.github
!.github/**
!aiotieba_reviewer
!aiotieba_reviewer/**
!docs
!docs/**
!examples
!examples/**

*.py[cd]
__pycache__
