*/
*.toml
*.exe
*.csv
*.xlsx
*.txt
*.bin
*.zip
*.rar
*.md
*.cmd
*.jpg

*.py

!aiotieba_reviewer
!aiotieba_reviewer/**
!.github
!.github/**
!docs
!docs/**
!tests
!tests/**
!examples
!examples/**

!README.md
!requirements.txt
!pyproject.toml

*.pyproj
*.log
*.code-workspace
*.pyc
__pycache__
